<DOCTYPE html>
<html>
    <head>
        <center><title>Home</title></center><br>
    </head>
    <body>
        <h1 align="center">Welcome to Angel Tarot Carrick! </h1><br>
    
        <div>
            <center><h2>Are you looking for the perfectly *enlightening* Hen party treat? <br><br>
            Angel Tarot Carrick has what you want! </h2>
            <br><br>
            </center>
            
            <div>
                <p>
                    <ul>
                        <li>Group bookings from 5 - 20 people </li>
                        <li>Each session is 2 hours long - Get all your questions answered! </li>
                    </ul>
                </p>
            </div>
            <br><br>
            <div><br><br>
                <center><h2>Only €5 per person.</h2></center><br><br>
            </div>
<h2>About Angel Tarot</h2><br>
<br>

<!-- https://oracleangelcards.wordpress.com/2012/10/06/difference-between-oracle-tarot-and-angel-cards/ -->

<p> Angel Cards – They offer healing and guidance and messages from your guardian angels, you will find many angel cards on the market are by Doreen Virtue. She has many different types of angel decks and all provide you with detailed meanings and messages from your angels.
I would say that Angel Cards are very gentle messages and can provide a comforting feeling in a distressing situation. 
Angel readings are not intended to provide you with timings or specific details of people or places, like Tarot cards do.
</p>
<br><br>

<h2>Take a look at the Angel Tarot Cards We Use! </h2><br><br>

<div class="container", align="center">	
    <!--<a href="https://www.amazon.com/Messages-Angels-Cards-Large-Decks/dp/1561709069"> -->
    <%= image_tag("Messages_from_your_angels.jpg", :alt => "Archangel Michael Cards", :size => "349x480") %> <!-- </a> -->
    <%= image_tag("michael_box.jpg", :alt => "Archangel Michael Cards", :size => "349x480") %>
    <%#= image_tag("archangelcards.jpg", :alt => "Arhangel Oracle Cards", :size => "349x480") %>
    <%= image_tag("Angeltarot_cards.jpg", :alt => "Angel Tarot Cards", :size => "349x480") %>
    <%= image_tag("FairyCards.jpg", :alt => "Fairy Cards", :size => "349x480") %>
    <%= image_tag("GuardianAngel.jpg", :alt => "Guardian Angel Cards", :size => "349x480") %>
</div>        			
</html>