<!--
## application.css stylesheet
##
## Version 1
##
## Date e.g. 10/06/2016
##
## @reference https://www.youtube.com/watch?v=Wo2-PcGD4mE&index=3&list=PL5Dq9xKbrI3CZRfqbyyesEvyYg-ivIPUq (Tutorial 3)
## @author Ruth Stephenson, X15009335
## -->

<!DOCTYPE html>
<html>
<head>
  <title>Angel Tarot Carrick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= favicon_link_tag 'favicon.png'%> <!-- @author Ruth Stephenson x15009335 -->
</head>
  <body>

      <ul class="nav nav-tabs">
        <li role="presentation"><%= link_to 'Home', root_path %></li>
        <li role="presentation"><%= link_to'Testimonials', page_testimonials_path %></li>
        <li role="presentation"><%= link_to 'Make Appointment', new_appointment_path %></li>
        <li role="presentation"><%= link_to 'Contact Us', contactform_contact_path %></li>
        <li role="presentation"><%= link_to 'Cancellations & Pricacy', privacy_policy_privacyPolicy_path %></li>
        <li role="presentation"><%= link_to "Checkout", 'https://www.paypal.com/ie/webapps/mpp/home' %></li> 
        

        <!-- LIMIT THE VIEW OF THESE LINKS FOR THE ADMIN ONLY -->
        <% if user_signed_in? && current_user.admin? %>
          <li role="presentation"><%= link_to 'Profiles', profiles_path %></li>
          <li role="presentation"><%= link_to 'Appointments', appointments_path %></li>
        <% end %>
      
      
      
      <div id="sign_in">
        <% if user_signed_in? %>
          <div> Signed in as : <%= current_user.email %> <color: red>
            <%= link_to '(Sign out)', destroy_user_session_path, :method => :delete%> 
      </div>
        <% else %>  
          <%= link_to 'Register', new_user_registration_path %> or 
          <%= link_to 'Sign in', new_user_session_path %>
        <% end %> 
      </div>
    </div>
    </ul>
    
      
     <div class="container">  
      <%= yield %>
    </div>
 
   
<!--  @reference Tutorial on Sytling. 
      @authror Adriana Chis-->
  <div id='footer'>
    <div id = 'footer_a'>
    <h6 class="footertext">&copy; Angel Tarot Carrick &trade; 2016</h6>   <!--  @author Ruth Stephenson x15009335 -->
    </div>
    <div id = 'footer_b'>
    <h6><%= link_to 'Home', root_path %> |                       <!--  @author Ruth Stephenson x15009335 -->
    <%=  link_to 'Contact', contactform_contact_path %> </h6>   <!--  @author Ruth Stephenson x15009335 -->
    
    
    </div>
  </div>

</body>
</html>
